<h2>CARRITOS</h2>
<hr>
<div>
    {{#each carts}}    
    <p>{{this.Products}}</p>
    <p>{{this.quantity}}</p>
    <hr>
    {{/each}}
</div>


<br></br>
<a href="/">Home</a>
<a href="/realtimeproducts">Productos</a>
<a href="/carts">Carritos</a>
<a href="/chat">Chat</a>