<h2>CARRITOS</h2>
<hr>
<div>
    {{#each carts}}    
        <p>Productos:</p>
        <ul>
            {{#each this.products}}
                <li>
                    {{!-- Acceder a las propiedades del objeto product --}}
                    Nombre: {{this.product.title}}<br>
                    Cantidad: {{this.quantity}}
                </li>
            {{/each}}
        </ul>
        <hr>
    {{/each}}
</div>

<br></br>
<a href="/">Home</a>
<a href="/realtimeproducts">Productos</a>
<a href="/carts">Carritos</a>
<a href="/chat">Chat</a>
